page {
  background: #fff;
}

.tac {
  font-size: 30rpx;
  color: #000;
}

.a {
  font-size: 60rpx;
  font-weight: 700;
  line-height: 80rpx;
  //margin: 0 auto;
  padding: 0 20rpx;
  border-radius: 20rpx;
  position: relative;
  left: 50%;
  top: 50rpx;
  transform: translateX(-50%);
  display: inline-block;
  //margin-top: 40rpx;
  text-shadow: 2rpx 2rpx 6rpx #333;
  animation: la 3s infinite alternate;
}

.tg {
  margin-top: 40rpx;
  width: 90%;
  background-color: #fedb43;
  font-weight: 700;
  letter-spacing: 20rpx;
}

.imgac {
  text-align: center;
  padding-top: 50rpx;
}

@keyframes la {
  from {
    color: #000;
    box-shadow: 0 0 10rpx 2rpx #fff;
  }
  to {
    color: #fff;
    box-shadow: 0 0 30rpx 10rpx #000;
  }
}